<h1>Editar produtos</h1>

<%= form_with model: @product, local: true do |form| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name%>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>
  <p>
     <% @product.product_images.each do |product| %>
  <%= image_tag(product) %>

  <% end %>

      <div class="mb-6">

    <%= form.label :Imagens_dos_produtos, class: "label" %> </p>
    <p> <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10" data-dropzone-max-files="10">
    <%= form.file_field :product_images, multiple: true, direct_upload: true, data: { target: 'dropzone.input' } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
      <span class="dropzone-msg-desc text-sm">10 MB files size maximum. Allowed file types png, jpg.</span>
      </div>
    </div> </p>
  </div>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', products_path %>