<h1>Listando Vendas</h1>

<%= link_to 'Nova Venda', new_sale_path %>

<table>
  <tr>
    <th>Email Vendedor</th>
    <th>Produto</th>
    <th>Categoria</th>
    <th>Quantia</th>
    <th>Preço</th>
    <th>Total</th>
    <th></th>
  </tr>

  <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.user.email %></td>
      <td><%= sale.product.name %></td>
      <td><%= sale.category.desc %></td>
      <td><%= sale.amount %></td>
      <td><%= sale.price %></td>
      <td><%= sale.total %></td>
      <td><%= link_to 'Mostrar', sale_path(sale) %></td>
      <td><%= link_to 'Editar', edit_sale_path(sale) %></td>
      <td><%= link_to 'Excluir', sale_path(sale),
      method: :delete,
      data: { confirm: 'Tem certeza que deseja excluir essa venda?' } %></td>
    </tr>
  <% end %>
</table>