 <%= form.label :Usuário %><br>
  <div class="field">
  <%= form.collection_select :email, User.all, :id, :email %><br>
  </div>
  </p>

    <%= form.label :Produto %><br>
  <div class="field">
  <%= form.collection_select :product_id, Product.all, :id, :name %><br>
  </div>
  </p>

  <p>
  <%= form.label :Quantidade %><br>
  <%= form.text_field :amount %>
 </p>

  <p>
  <%= form.label :Valor %><br>
  <%= form.text_field :price %>
 </p>

  <p>
  <%= form.label :Total %><br>
  <%= form.text_field :total %>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', psales_path %>