<p>
  <strong>Email Usuário:</strong>
  <%= @sale.user.email %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @sale.product.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @sale.category.desc %>
</p>

<p>
  <strong>Quantia:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @sale.price %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.total %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>